<div class="container" *ngIf="assignmentTransmis">
    <div class="content_list">
      <h1 class="titre_list">
        <mat-icon>visibility</mat-icon> Assignment : {{assignmentTransmis.nom}}
      </h1>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Elève</th>
            <th scope="col">Matiere</th>
            <th scope="col">Note</th>
            <th scope="col">Date  rendu</th>
            <th scope="col">Prof</th>
            <th scope="col">Remarque</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{assignmentTransmis.auteur}}</td>
            <td>{{assignmentTransmis.matiere[0].matiere}}
              <span><img src="../assets/mat/{{assignmentTransmis.matiere[0].imageMatiere}}" alt="image_prof" class="image"></span>
            </td>
            <td>{{assignmentTransmis.note}} / 20</td>
            <td>{{assignmentTransmis.dateDeRendu | date}}</td>
            <td class="text-align-center"><img src="../assets/mat/{{assignmentTransmis.matiere[0].imageProf}}" alt="image_prof" class="image"></td>
            <td>{{assignmentTransmis.remarque}}</td>
          </tr>
          
        </tbody>
      </table>
      <div id="bottom">
        <button type="button" class="btn btn-raised btn-danger" (click)="openDialogDelete(assignmentTransmis.id)">Delete</button>
      </div>
    </div>
</div>
