<main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter un assignment
    </button>
  </a>
  <h1>Liste des assignments</h1>
  <mat-divider></mat-divider>

  <mat-list *ngFor="let a of assignments">
    <nav>
      <a routerLink="/assignment/{{a.id}}">
        <h3 mat-subheader>{{a.dateDeRendu | date}}</h3>
        <mat-list-item>
          <mat-divider></mat-divider>

          <p *ngIf="a.rendu; else nonsoumis" appRendu>
            {{a.nom}}, rendu par l'élève.
          </p>
          <ng-template #nonsoumis>
            <p appNonRendu>
              {{a.nom}}, non encore rendu par l'élève.
            </p>
          </ng-template>

        </mat-list-item>
      </a>
    </nav>
  </mat-list>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</main>
