<main class="container">
  <div class="content_list">
    <h1 class="titre_list">Liste des assignments</h1>
    <div class="onglet">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of tabs"
          [routerLink] = "[link.route]"
          (click)="activeLink = link.route"
          
          [routerLinkActive] = "[link.route]"
          #rla="routerLinkActive"
          [active]="activeLink == link.route">
          <mat-icon>{{link.icon}}</mat-icon>
            {{link.label}}
        </a>
        <p class="info">L'assignment est rendu s'il y a une note ou s'il y a déjà rendu par l' élève.</p>
      </nav>
    </div>
    
    <router-outlet></router-outlet>
  
  </div>
  
<!--
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        
          <div class="rendu">
            <span class="material-icons">
              done
            </span>
            Rendu
          </div>
      </ng-template> 
      <mat-divider></mat-divider>
      <nav>
        <button mat-raised-button color="primary" (click)="premierePage()">
          Première
        </button>
        <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
          Prev
        </button>
        <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
          Suiv
        </button>
        <button mat-raised-button color="primary" (click)="dernierePage()">
          Dernière
        </button>
      </nav>
    
      <mat-list *ngFor="let a of assignmentsRendu">
        <nav>
          <a routerLink="/assignment/{{a.id}}">
            <h3 mat-subheader>{{a.dateDeRendu | date}}</h3>
            <mat-list-item>
              <mat-divider></mat-divider>
    
              <p *ngIf="a.rendu; else nonsoumis" appRendu>
                {{a.nom}}, rendu par l'élève.
              </p>
              <ng-template #nonsoumis>
                <p appNonRendu>
                  {{a.nom}}, non encore rendu par l'élève.
                </p>
              </ng-template>
    
            </mat-list-item>
          </a>
        </nav>
      </mat-list>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        
        <div class="non_rendu">
          <span class="material-icons">
            close
          </span>
          Non rendu
        </div>
    </ng-template> 

    <mat-divider></mat-divider>
    <nav>
      <button mat-raised-button color="primary" (click)="premierePage()">
        Première
      </button>
      <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
        Prev
      </button>
      <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
        Suiv
      </button>
      <button mat-raised-button color="primary" (click)="dernierePage()">
        Dernière
      </button>
    </nav>
  
    <mat-list *ngFor="let b of assignmentsNonRendu">
      <nav>
        <a routerLink="/assignment/{{b.id}}">
          <h3 mat-subheader>{{b.dateDeRendu | date}}</h3>
          <mat-list-item>
            <mat-divider></mat-divider>
  
            <p *ngIf="b.rendu; else nonsoumis" appRendu>
              {{a.nom}}, rendu par l'élève.
            </p>
            <ng-template #nonsoumis>
              <p appNonRendu>
                {{b.nom}}, non encore rendu par l'élève.
              </p>
            </ng-template>
  
          </mat-list-item>
        </a>
      </nav>
    </mat-list>
    </mat-tab>
  </mat-tab-group>
-->
</main>
