<main class="container">
  <h1>Nouveau assignment</h1>
  <mat-divider></mat-divider>
  <form class="text-center border border-light p-5" (submit)="onSubmit($event)" [formGroup]="assignmentForm">

    <!-- Name -->
    <input type="text" formControlName="nom" name="nom" class="form-control mb-4" placeholder="Nom des élèves (*)">
    <div class="form-row mb-4">
      <div class="col">
        <label>Choisissez un matiere <span>(*)</span></label>
        <select class="browser-default custom-select mb-4" formControlName="idMatiere" name="idMatiere">
          <option *ngFor="let role of listMatiere" [value]="role.id" class="select_roles">
            {{role.matiere}}
          </option>
        </select>
      </div>
      <div class="col">
        <label> Date du rendu </label>
        <input type="date" formControlName="dateDeRendu" name="dateDeRendu" class="form-control mb-4" placeholder="Nom des élèves">
      </div>
    </div>
    <!-- Email -->
    <input type="number" formControlName="note" name="note" class="form-control mb-4" placeholder="note">

    <div class="form-group">
      <textarea class="form-control rounded-0" formControlName="remarque" name="remarque" rows="3" placeholder="Remarque"></textarea>
    </div>
  
    <button mat-raised-button color="primary" class="btn">Enregistrer</button>
  
  </form>
</main>