<div class="container">
    <div class = "content-rendu">
      <div class="pagination">
        <div class="d-flex justify-content-center">
          <p class="result">Résultats par page</p>
            <div class="p-2 bd-highlight">
                <select (change)="tableData($event)" class="custom-select">
                  <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
            </div>
            <div class="pagine">
              <pagination-controls responsive="true"  previousLabel="<"
              nextLabel=">" (pageChange)="tabSize($event)"></pagination-controls>
            </div>            
        </div>
      </div>
      <div class="mycard">
        <mat-divider></mat-divider>
        <div *ngFor="let a of assignmentsRendu | paginate : {
            itemsPerPage: limit,
            currentPage: page,
            totalItems: count
          };">
                  <div class="row">
                    <div class="col-md-5">
                        <h5>Auteur : {{a.auteur}}</h5>
                    </div>
                    <div class="col-md-5">
                      <h5>Titre : {{a.nom}}</h5>
                    </div>
                    <div class="col-md-2">
                      <h5>Matière : {{a.matiere[0].matiere}}</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 edit">
                      <button type="button" class="btn btn-raised btn-primary" (click)="onClickEdit(a.id)" [disabled]="role_user !== admin">Edit</button>
                     
                    </div>
                    <div class="col-md-4">
                      <button type="button" class="btn btn-raised btn-danger" (click)="openDialogDelete(a.id)">Delete</button>
                    </div>
                    </div>
                  <mat-divider></mat-divider>
          </div>
      </div>
        <mat-divider></mat-divider>
    </div>
               
    <div class="pagination">
      <div class="d-flex justify-content-center">
        <p class="result">Résultats par page</p>
          <div class="p-2 bd-highlight">
              <select (change)="tableData($event)" class="custom-select">
                <option *ngFor="let size of tableSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
          </div>
            <div class="pagine">
              <pagination-controls responsive="true"  previousLabel="<"
              nextLabel=">" (pageChange)="tabSize($event)"></pagination-controls>
            </div>
              
      </div>
    </div>
  </div>
